.paths-list{
    &__item {
        margin: 15px 0 0 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        background-color: #efefef;
        cursor: pointer;
      &:hover {
        background-color: #e4e3e3;
      }
    }
    &__buttons{
      width: 10%;
      display: inline-flex;
      justify-content: space-between;
    }
}
