.tree {
    min-height: 75vh;
}
.create-form {
    display: flex;
    @media ($screen-sm-min) {
        justify-content: space-between;
    }
    @media ($screen-sm-max) {
        flex-direction: column;
    }
    .success-btn {
        height: 46px;
        @media ($screen-sm-min) {
            width: 20%;
        }
        @media ($screen-sm-max) {
            width: 100%;
        }
    }
    &__input {
        @media ($screen-sm-min) {
            width: 78%;
        }
    }
}
.paths-list{
    &__item {
        margin: 15px 0 0 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        border: 1px solid  #31af91;
        color: #505050;
        cursor: pointer;
        &:hover {
           border-color: rgb(43, 159, 197);
        }
        .title {
            word-break: break-all;
            @media ($screen-sm-min) {
                width: 80%;
            }
            @media ($screen-mobile-break) {
                width: 70%;
            }
            @media ($screen-xs-max) {
                width: 65%;
            }
        }
        .buttons{
            display: inline-flex;
            justify-content: space-between;
            @media ($screen-sm-min) {
                width: 15%;
            }
            @media ($screen-mobile-break) {
                width: 20%;
            }
            @media ($screen-xs-max) {
                width: 30%;
            }
        }
    }
}
